<h1>Howdy!</h1>
<p>
A Quick Puzzle to Test Your Problem Solving
</p>
<p>
A short game sheds light on government policy, corporate America and why no one likes to be wrong.
</p>

Here’s how it works:

We’ve chosen a rule that some sequences of three numbers obey — and some do not. Your job is to guess what the rule is.

We’ll start by telling you that the sequence 2, 4, 8 obeys the rule:

2, 4, 8 Obeys the rule

Now it’s your turn. Enter a number sequence in the boxes below, and we’ll tell you whether it satisfies the rule or not. You can test as many sequences as you want.

<p>Enter a sequence:
</p>

<form>
  <label>First number: </label>
  <input type="text" placeholder="The first number">

  <label>Second number: </label>
  <input type="text" placeholder="The second number">

  <label>Third number: </label>
  <input type="text" placeholder="The third number">

  <button>
    Check
  </button>

</form>

<hr>

<p>
When you think you know the rule, describe it in words below and then submit your answer. Make sure you’re right; you won’t get a second chance.

  <strong> Make sure....</strong>

</p>

<form>
  <label>
    Your answer:
  </label>

  <textarea></textarea>

  <button>
    I think I know it!>
  </button>
